* {
    margin: 0;
    padding: 0;
  }
 
  body {
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .layout-container {
    display: flex;
    min-height: 100vh;
  }
  
  .side-navbar {
    text-align: center;
    width: 220px;
    background-color: white;
    border-right: solid lightgray;
    padding: 20px;
  }
  
  .side-navbar h1 {
    color: lightgreen;
    margin-bottom: 30px;
  }

  .side-navbar h1:hover {
    cursor: pointer;
  }

  .icon-image {
    max-width: 30px;
  }
  
  .nav-links {
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 20px;
  }

  .nav-links a {
    color: black;
    text-decoration: none;
  }
  
  .nav-links:hover {
    background-color: lightgray;
  }
  
  .page-content {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
  }
  
  .navbar h1 {
    color: lightgreen;
  }
  
  .site-lang label,
  .site-lang select {
    color: gray;
    border-style: none;
  }
  
  .site-lang:hover label,
  .site-lang:hover select {
    color: lightgray;
  }

  .main-screen {
    padding: 20px;
  }
  
  .overflow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .language-image {
    margin-top: 40px;
    max-width: 100px;
  }
  
  .lang {
    text-align: center;
    width: 350px;
    height: 200px;
    border-style: solid;
    border-radius: 30px;
    border-color: lightgray;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px lightgray;
  }
  
  .lang h5 {
    color: gray;
  }

  .lang:hover {
    background-color: lightgray;
  }
  footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  footer a {
    text-align: center;
    text-decoration: none;
    background-color: lightgreen;
    color: white;
    border-radius: 10px;
    border-style: none;
    padding: 20px;
  }