* {
    margin: 0;
    padding: 0;
  }
 
  body {
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    padding: 20px;
  }

  .navbar h1{
    color: lightgreen;
  }

  .icon-image {
    max-width: 30px;
  }

  .site-lang label,
  .site-lang select{
    color: gray;
    border-style: none;
  }

  .site-lang:hover label,
  .site-lang:hover select {
    color: lightgray;
  }

  .index-button {
    text-align: center;
    text-decoration: none;
    background-color: lightgreen;
    color: white;
    border-radius: 10px;
    border-style: none;
    padding: 20px;
    margin-top: 20px;
  }

  .main-screen {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
  }

  .get-started {
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
  }
